extends layout

block content
	h2=pagetitle
	p Firstnamd and lastname is required. This can not deal with err.
	form(action='/hongyi-contact/#{data.id}/edit', method='post')
		p Firstname: 
			input(type='text', name='first', value='#{data.firstname}')
		p Lastname: 
			input(type='text', name='last', value='#{data.lastname}')
		p Email:
			input(type='text', name='email', value='#{data.email}')
		p Phone: 
			input(type='text', name='phone', value='#{data.phone}')
		p Notes: 
			input(type='text', name='notes', value='#{data.notes}')
		p
			input(type='submit', value='update')
	a(href="/hongyi-contact/") Back to home